In [1]:
import math
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
train_results = pd.read_csv('train_win-loss-draw.csv')
test_results  = pd.read_csv('test_win-loss-draw.csv')

In [3]:
train_results.head()

   ep  P1-W  P1-L  P1-D  P2-W  P2-L  P2-D
0  10     5     3     2     3     5     2
1  20    12     5     3     5    12     3
2  30    17    10     3    10    17     3
3  40    24    13     3    13    24     3
4  50    29    16     5    16    29     5

In [4]:
test_results.head()

   ep  P1-W  P1-L  P1-D  P2-W  P2-L  P2-D
0  10     8     0     2     0     8     2
1  20    13     3     4     3    13     4
2  30    18     7     5     7    18     5
3  40    25    10     5    10    25     5
4  50    33    11     6    11    33     6